In [1]:
import numpy as np

from team import get_teams
from mdp import MDP

teams = get_teams("teams_data.csv")
teams = {Id:teams[Id] for Id in range(5)}
team_index = 0
discount = 1
learning_rate = 0.1
epsilon = 0.5
nb_seasons = 10

mdp = MDP(teams, team_index, discount)
mdp.q_learning(learning_rate, epsilon, nb_seasons)

In [2]:
mdp.Q

                  A     B    C
(0, 0, 0)  0.449007  0.01  0.0
(0, 0, 1)  0.000000  0.00  0.0
(0, 0, 2)  0.000000  0.00  0.0
(0, 0, 3)  0.000000  0.00  0.0
(0, 0, 4)  0.000000  0.00  0.0
(0, 1, 0)  0.000000  0.09  0.0
(0, 1, 1)  0.000000  0.00  0.0
(0, 1, 2)  0.000000  0.00  0.0
(0, 1, 3)  0.000000  0.00  0.0
(0, 1, 4)  0.000000  0.00  0.0
(0, 2, 0)  0.000000  0.00  0.0
(0, 2, 1)  0.000000  0.00  0.0
(0, 2, 2)  0.000000  0.00  0.0
(0, 2, 3)  0.000000  0.00  0.0
(0, 2, 4)  0.000000  0.00  0.0
(0, 3, 0)  0.000000  0.00  0.0
(0, 3, 1)  0.000000  0.00  0.0
(0, 3, 2)  0.000000  0.00  0.0
(0, 3, 3)  0.000000  0.00  0.0
(0, 3, 4)  0.000000  0.00  0.0
(0, 4, 0)  0.000000  0.00  0.0
(0, 4, 1)  0.000000  0.00  0.0
(0, 4, 2)  0.000000  0.00  0.0
(0, 4, 3)  0.000000  0.00  0.0
(0, 4, 4)  0.000000  0.00  0.0
(1, 0, 0)  0.151004  0.00  0.1
(1, 0, 1)  0.000000  0.00  0.0
(1, 0, 2)  0.000000  0.00  0.0
(1, 0, 3)  0.000000  0.00  0.0
(1, 0, 4)  0.000000  0.00  0.0
...             ...   ...  ...
(3, 4, 0)  0.000000  0.00  0.0
(3, 4, 1)  0.000000  0.00  0.0
(3, 4, 2)  0.000000  0.00  0.0
(3, 4, 3)  0.000000  0.00  0.0
(3, 4, 4)  0.000000  0.00  0.0
(4, 0, 0)  0.000000  0.00  0.0
(4, 0, 1)  0.000000  0.00  0.0
(4, 0, 2)  0.000000  0.00  0.0
(4, 0, 3)  0.000000  0.00  0.0
(4, 0, 4)  0.000000  0.00  0.0
(4, 1, 0)  0.000000  0.00  0.0
(4, 1, 1)  0.000000  0.00  0.0
(4, 1, 2)  0.000000  0.00  0.0
(4, 1, 3)  0.000000  0.00  0.0
(4, 1, 4)  0.000000  0.00  0.0
(4, 2, 0)  0.000000  0.00  0.0
(4, 2, 1)  0.000000  0.00  0.0
(4, 2, 2)  0.000000  0.00  0.0
(4, 2, 3)  0.000000  0.00  0.0
(4, 2, 4)  0.000000  0.00  0.0
(4, 3, 0)  0.000000  0.00  0.0
(4, 3, 1)  0.000000  0.00  0.0
(4, 3, 2)  0.000000  0.00  0.0
(4, 3, 3)  0.000000  0.00  0.0
(4, 3, 4)  0.000000  0.00  0.0
(4, 4, 0)  0.000000  0.00  0.0
(4, 4, 1)  0.000000  0.00  0.0
(4, 4, 2)  0.000000  0.00  0.0
(4, 4, 3)  0.000000  0.00  0.0
(4, 4, 4)  0.000000  0.00  0.0

[125 rows x 3 columns]

In [ ]:

team = teams[team_index]
opponents_Ids = [Id for Id in teams.keys() if Id != team_index]
nb_seasons = 10

for iteration in range(nb_seasons):
    for opponent_Id in opponents_Ids:
        action = np.random.choice(["A","B","C"])
        opponent = teams[opponent_Id]
        current_state = str(tuple(team.repeatPenalty.values()))
        reward = get_reward(team, opponent, action)
        team.update(action)
        next_state = str(tuple(team.repeatPenalty.values()))
        mdp.Q.loc[current_state, action] += learning_rate*(reward + mdp.discount*np.max([mdp.Q.loc[next_state, next_action] for next_action in mdp.actions]) - mdp.Q.loc[current_state, action])
    team.reset()